<ion-header>
  <ion-toolbar class="ion-no-border">
    <ion-title>{{isUpdate ? 'Update' : 'Buat'}} Pengurus</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item>
      <ion-label position="floating">Firstname</ion-label>
      <ion-input [(ngModel)]="data.firstname" name="firstname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Lastname</ion-label>
      <ion-input [(ngModel)]="data.lastname" name="lastname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input [(ngModel)]="data.username" name="username"></ion-input>
    </ion-item>
    <ion-button
      fill="solid"
      shape="round"
      expand="block"
      type="submit"
      color="primary"
      class="ion-margin-top"
    >{{isUpdate ? 'Update' : 'Save'}}</ion-button>

  </form>
</ion-content>
