<ion-header >
  <ion-toolbar class="ion-no-border">
     <ion-title slot="start" size="small">Profil</ion-title>
        <img src="/assets/logout.png" alt="" slot="end" (click)="tryLogout()">
  </ion-toolbar>


</ion-header>

<ion-content>
  <ion-card *ngIf="userProfile">
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [value]="userProfile.username"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">First Name</ion-label>
      <ion-input [value]="userProfile.firstname"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Last Name</ion-label>
      <ion-input [value]="userProfile.lastname"></ion-input>
      </ion-item>
      <ion-item>
      <ion-label position="floating">Role</ion-label>
      <ion-input [value]="userProfile.role"></ion-input>
      </ion-item>
      </ion-card-content>
      </ion-card>

<div class="users_profil">
  <ion-list>
    <h2>
      Nama {{firstname}}
    </h2>
    <h3>
      Username
    </h3>
    <h3>
      Role
    </h3>
    <h3>
     <ion-button>Ganti Password</ion-button>
    </h3>
  </ion-list>

</div>
  <ion-tabs position="fixed">
    <ion-tab-bar slot="bottom">
      <ion-tab-button routerLink="/penarik" [style.color]="home1Color">
        <ion-icon name="home-outline" [style.color]="home1Color"></ion-icon>
        <ion-label >Home</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/penarik/profil">
        <ion-icon  name="person" [style.color]="home2Color"></ion-icon>
        <ion-label [style.color]="home2Color" >Profil</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
