<ion-header>
  <ion-toolbar>
    <ion-title size="small" >DATA PELANGGAN</ion-title>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
      placeholder="Search"
      [(ngModel)]="searchPelanggan"
      showCancelButton="focus"
      animated></ion-searchbar>
  <ion-list *ngFor="let pelanggan of pelanggan | filter: searchPelanggan" >
    <ion-item-sliding>
      <ion-item>
       <!--
        <ion-avatar slot="start">
          <div class="avatar">
            {{pelanggan.nama_pelanggan.substring(0,1).toUpperCase()}}
          </div>
        </ion-avatar> //-->
        <ion-label>
          <h3 class="tittle">{{pelanggan.nama_pelanggan}}</h3>
          <p class="subtext">{{pelanggan.alamat_pelanggan}} /<b> {{pelanggan.kategori}}</b></p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end" >
        <ion-item-option color="primary"  (click)="updatePelanggan(pelanggan)">
          Edit
        </ion-item-option>
        <ion-item-option color="danger" (click)="removePelanggan(pelanggan.id)">
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addPelanggan()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<ion-tab-bar slot="bottom" [ngClass]="{'selected': selectedTab === 'home1'}">
  <ion-tab-button routerLink="/home" (click)="selectTab('home1')">
    <ion-icon name="home" [style.color]="home1Color"></ion-icon>
    <ion-label [style.color]="home1Color">Home</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/home/data-keuangan" tab="data-keuangan" (click)="selectTab('home1')">
    <ion-icon  name="stats-chart-outline" [style.color]="home1Color"></ion-icon>
    <ion-label [style.color]="home1Color">Keuangan</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/home/data-pelanggan" tab="data-pelanggan" (click)="selectTab('home2')">
    <ion-icon  name="people-outline" [style.color]="home2Color"></ion-icon>
    <ion-label [style.color]="home2Color">Pelanggan</ion-label>
  </ion-tab-button>
  <ion-tab-button routerLink="/home/data-user" tab="data-user" (click)="selectTab('home1')">
    <ion-icon  name="ribbon-outline" [style.color]="home1Color"></ion-icon>
    <ion-label [style.color]="home1Color">Pengurus</ion-label>
  </ion-tab-button>
</ion-tab-bar>
